<!DOCTYPE html>
<html>
<head>
	<link rel="库存管理"href="/img/stock.ico">
	<title>库存管理</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="container">
	<header><h1>韦家管家</h1></header>	
	{{{body}}}
	<footer>&copy;{{copyrightYear}} 韦家管家</footer>
	</div>
</body>
</html>