<!DOCTYPE html>
<html>
<head>
	<link rel="库存管理"href="/img/stock.ico">
	<title>薇小助手</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="container">
	<header><h1>薇小助手</h1></header>	
	{{{body}}}
	<footer>&copy;{{copyrightYear}} liuln</footer>
	</div>
	<script type="text/javascript">
	</script>
</body>
</html>