<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="库存管理"href="/img/stock.ico">
	{{{_sections.title}}}
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css?v=1.0.1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<link href="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/toastr.js/latest/toastr.css" rel="stylesheet">
	{{{_sections.style}}}
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-info ">
	  <a class="navbar-brand" href="/">薇</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/product">入库</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/order/add">下单</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="/bubulist">打包</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="/user">用户</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	{{{body}}}
	<footer class="app-footer mt-5 text-right">
		<span>  liuln  © 2018 </span>
		<span class="float-right">Powered by liuln</span>
	</footer>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
	<script src="https://cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
	<script type="text/javascript">	
    Vue.use(VeeValidate,{locale: 'zh_CN'});
	var WeiWeiHost="http://39.107.252.17:3000/";
	toastr.options = {  
        closeButton: true,  //是否显示关闭按钮（提示框右上角关闭按钮）
        debug: false,  //是否为调试；
        progressBar: true,  //是否显示进度条（设置关闭的超时时间进度条）
        positionClass: "toast-top-center",  //消息框在页面显示的位置
        onclick: null,  //点击消息框自定义事件
        showDuration: "300",  //显示动作时间
        hideDuration: "1000",  //隐藏动作时间
        timeOut: "2000",  //自动关闭超时时间
        extendedTimeOut: "1000",  
        showEasing: "swing",  
        hideEasing: "linear",  
        showMethod: "fadeIn",  //显示的方式
        hideMethod: "fadeOut"  //隐藏的方式
	};
	</script>
	{{{_sections.jquery}}}
</body>
</html>