<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<a class="btn btn-primary" href="/editbubu" role="button">入库</a>
		<button type="button" class="btn btn-primary">入库</button>
		<button type="button" class="btn btn-secondary">下单</button>
		<button type="button" class="btn btn-success">查库</button>
		<button type="button" class="btn btn-info">查单</button>
    </div>
 </div>  