<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<a class="btn btn-primary" href="/editbubu" role="button">入库</a>
		<a class="btn btn-secondary" href="/editorder" role="button">下单</a>
		<a class="btn btn-success" href="/bubulist" role="button">查库</a>
		<a class="btn btn-info" href="/orderlist" role="button">查单</a>
    </div>
 </div>  