<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<button type="button" class="btn btn-secondary">入库</button>
		<button type="button" class="btn btn-secondary">下单</button>
		<button type="button" class="btn btn-secondary">查库</button>
		<button type="button" class="btn btn-secondary">查单</button>
    </div>
 </div>  