{{#section 'title'}}
	<title>用户管理</title>
{{/section}}
{{#section 'style'}}
	<link href="https://cdn.bootcss.com/datatables/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{/section}}
<div class="container" id="userContainer">
	<form id="userForm" class="needs-validation" @submit.prevent="validateBeforeSubmit">
	  <div class="form-row">
	    <div class="form-group col-4">
	      <label for="WeiXinID">微信ID</label>
	      <input type="text" :class="{'is-invalid':errors.has('WeiXinID'),'form-control':true}" id="WeiXinID" v-model="WeiXinID" name="WeiXinID" placeholder="微信ID" v-validate="'required'" data-vv-delay="500">
	    </div>
	    <div class="form-group col-4">
	      <label for="WeiXinName">微信名</label>
	      <input type="text" :class="{'is-invalid':errors.has('WeiXinName'),'form-control':true}" id="WeiXinName" v-model="WeiXinName" name="WeiXinName" placeholder="微信名" v-validate="'required'" data-vv-delay="500">
	    </div>
	    <div class="form-group col-4">
	      <label for="UserName">用户名</label>
	      <input type="text" :class="{'is-invalid':errors.has('UserName'),'form-control':true}" id="UserName" v-model="UserName" name="UserName" placeholder="用户名" >
	    </div>
	  </div>
	  <div class="form-row">	  
	     <div class="form-group col-4">
	      <label for="Phone">手机号</label>
	      <input type="text" :class="{'is-invalid':errors.has('Phone'),'form-control':true}" id="Phone" v-model="Phone" placeholder="手机号" name="Phone" v-validate="{ required: true,length:11, regex: /^((13|14|15|17|18)[0-9]{1}\d{8})$/ }"data-vv-delay="500">
	    </div>
	  	<div class="form-group col-4">
	      <label for="ZipCode">邮编</label>
	      <input type="text" :class="{'is-invalid':errors.has('ZipCode'),'form-control':true}" id="ZipCode" v-model="ZipCode" name="ZipCode" placeholder="邮编">
	    </div>
	    <div class="form-group col-4">
	      <label for="Address">地址</label>
	      <textarea name="Address" v-model="Address" :class="{'is-invalid':errors.has('Address'),'form-control':true}" placeholder="地址" v-validate="'required'" data-vv-delay="500"></textarea>
	    </div>
	  </div>
	  <button type="submit" class="btn btn-primary">保存</button>
	</form>
	
	<table id="userList" class="table table-striped table-bordered table-sm" style="width:100%">
    </table>
</div>


{{#section 'jquery'}}
	<script src="https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.bootcss.com/datatables/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript">
	Vue.use(VeeValidate,{locale: 'zh_CN'});

    var controlUrl="/user/";

    var vm=new Vue({
    	el:"#userContainer",
    	data:{
    		ID:0,
    		WeiXinID:'',
    		WeiXinName:'',
    		UserName:'',
    		Phone:'',
    		Address:'',
    		ZipCode:'',
    		AddressID:0
    	},
    	methods:{
    		validateBeforeSubmit:function () {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                      this.add();
                      return;
                    }
                  });
            },
    		add:function () {
    			swal({title:"<i class=\"fa fa-circle-o-notch fa-spin fa-3x fa-fw\"></i><span class=\"sr-only\">Loading...</span>数据处理中，请稍后"});
    			var user={
    				ID:0,
		    		WeiXinID:vm.WeiXinID,
		    		WeiXinName:vm.WeiXinName,
		    		UserName:vm.UserName,
		    		Phone:vm.Phone,
		    		Address:vm.Address,
		    		ZipCode:vm.ZipCode,
		    		AddressID:vm.AddressID
    			}
    			axios.post(controlUrl+'add',user)
                .then(function (response) {
                    swal.close();
                    toastr.success('数据添加成功了，恭喜亲~', '');
                    console.log(response.insertID);
                    $('#userList').DataTable().row.add({
                    	ID:response.data.insertID,
						UserName:vm.UserName,
						WeiXinID:vm.WeiXinID,
						WeiXinName:vm.WeiXinName
                    }).draw();
					$('#userForm')[0].reset();
                    vm.ID=0;
                    vm.WeiXinID='';
                    vm.WeiXinName='';
                    vm.UserName='';
                    vm.Phone='';
                    vm.Address='';
                    vm.ZipCode='';
                    vm.AddressID=0;
                })
                .catch(function (error) {
                    console.log(error);
                }); 
    		},
    		edit:function () {
    			swal({title:"<i class=\"fa fa-circle-o-notch fa-spin fa-3x fa-fw\"></i><span class=\"sr-only\">Loading...</span>数据处理中，请稍后"});
    			var user={
    				ID:vm.ID,
		    		WeiXinID:vm.WeiXinID,
		    		WeiXinName:vm.WeiXinName,
		    		UserName:vm.UserName,
		    		Phone:vm.Phone,
		    		Address:vm.Address,
		    		ZipCode:vm.ZipCode,
		    		AddressID:vm.AddressID
    			}
    			axios.post(controlUrl+'edit',user)
                .then(function (response) {
                    swal.close();
                    toastr.success('数据修改成功了，恭喜亲~', '');
                    console.log(response.insertID);
                    $('#userList').DataTable().row.add({
                    	ID:response.data.insertID,
						UserName:vm.UserName,
						WeiXinID:vm.WeiXinID,
						WeiXinName:vm.WeiXinName
                    }).draw();
					$('#userForm')[0].reset();
                    vm.ID=0;
                    vm.WeiXinID='';
                    vm.WeiXinName='';
                    vm.UserName='';
                    vm.Phone='';
                    vm.Address='';
                    vm.ZipCode='';
                    vm.AddressID=0;
                })
                .catch(function (error) {
                    console.log(error);
                }); 
    		}
    		
    	}
    });

	$(function () {
		$('#userList').DataTable({
			language: {
		        url: '/script/Chinese.json'
		    },
		    ajax:{
		    	url:'/user/getAllUser' ,
		    	"dataSrc": ""
		    },
		    columns:[
		    	{
		    		data:'ID',
		    		title:'ID'
		    	},
		    	{
		    		data:'WeiXinID',
		    		title:'微信ID'
		    	},
		    	{
		    		data:'WeiXinName',
		    		title:'微信昵称'
		    	},
		    	{
		    		data:'UserName',
		    		title:'用户名'
		    	},
		    	{
		    		data:null,
		    		title:'操作',
		    		render:function (data,type,row) {
		    			return '<button type="button" class="btn btn-info btn-sm" onclick="getUser(\''+row.ID+'\')">编辑</button>';
		    		}
		    	}
		    ]
		});

	});
	function getUser(id) {
		axios.get('/user/getUser?ID='+id)
        .then(function (response) {
        	var model=response.data.model;
            vm.ID=model.ID;
            vm.WeiXinID=model.WeiXinID;
            vm.WeiXinName=model.WeiXinName;
            vm.UserName=model.UserName;
            if(model.AddressList.length>0){
	            vm.Phone=model.AddressList[0].Phone;
	            vm.Address=model.AddressList[0].Address;
	            vm.ZipCode=model.AddressList[0].ZipCode;
	            vm.AddressID=model.AddressList[0].ID;
            }
        })
        .catch(function (error) {
            console.log(error);
        }); 
	}
	</script>
{{/section}}